body {
  text-align: center;
  background-color: #4abdac;
  color: #fc4a1a;
}

h1 {
  color: #f7b733;
  font-family: 'Finger Paint';
  font-size: 70px;
  margin: 0.2em;
}

h2 {
  margin: 1em 0 0.25em;
  font-family: 'Finger Paint';
}

h2:first-of-type {
  margin-top: 0.5em;
}

table,
tr,
td {
  border: 1px solid #708090;
}

table {
  border-collapse: collapse;
  margin: 25px auto;
}

tr {
  height: 35px;
}

td {
  width: 35px;
}

input[type="number"] {
  width: 6em;
}
